# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Electron build output
dist/
out/
release/
build/
*.asar

# OS files
.DS_Store
Thumbs.db

# Env / secrets
.env
.env.*

# Editor folders
.vscode/
.idea/

# Optional caches
.cache/
